repos:
  - repo: local
    hooks:
      - id: sqlx
        name: sqlx
        language: system
        pass_filenames: false
        entry: bash -c 'cd crates/locksmith/ && DATABASE_URL=postgresql:// cargo sqlx prepare --all -- --all-targets --all-features'