---
name: Test

on:
  push:
    tags:
      - 'locksmith-cli-v*'
    branches:
      - main
  pull_request:
  workflow_dispatch:


jobs:
  test:
    runs-on: ubuntu-latest

    concurrency:
      group: test-${{ github.ref }}-${{ matrix.postgres }}

    strategy:
      fail-fast: false
      matrix:
        postgres: [ "12", "13", "14", "15", "16", "17", "18" ]

    env:
      RUST_BACKTRACE: '1'
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"
      CC: "sccache gcc"
      CXX: "sccache gcc"

    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.9

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy, rustfmt

      - name: Run tests
        run: cargo test --all-targets --all-features -- --test-threads=1 --nocapture
        timeout-minutes: 5
        env:
          TEST_POSTGRES_TAG: "${{ matrix.postgres }}-alpine"
          RUST_LOG: "trace"
          SQLX_OFFLINE: "1"

  build:
    name: ${{ matrix.target }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: aarch64-apple-darwin
            os: macos-latest
          - target: x86_64-apple-darwin
            os: macos-latest
        os: [ 'ubuntu-24.04' ]
        target:
          - x86_64-unknown-linux-gnu
          - x86_64-unknown-linux-musl
          - aarch64-unknown-linux-gnu
          - aarch64-unknown-linux-musl
    steps:
      - uses: actions/checkout@v6

      - name: Install Rust
        id: rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          cache: 'false'
          cache-on-failure: false
          target: ${{ matrix.target }}

      - name: Setup Rust Caching
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: false
          prefix-key: ${{ matrix.target }}
          key: ${{ steps.rust.outputs.cachekey }}

      - name: Sanity check
        if: matrix.target == 'x86_64-unknown-linux-gnu' || matrix.target == 'aarch64-apple-darwin' || matrix.target == 'x86_64-pc-windows-msvc'
        run: cargo run --bin=locksmith-cli --target ${{ matrix.target }} -- --help

      - name: Build release
        uses: houseabsolute/actions-rust-cross@v1
        if: startsWith(github.ref, 'refs/tags/') || github.event_name == 'workflow_dispatch'
        with:
          command: build
          target: ${{ matrix.target }}
          args: --release --locked

      - name: Publish artifacts and release
        if: startsWith(github.ref, 'refs/tags/') || github.event_name == 'workflow_dispatch'
        uses: houseabsolute/actions-rust-release@v0
        with:
          executable-name: locksmith-cli
          target: ${{ matrix.target }}
          changes-file: ""

  create_release:
    name: Release
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/') || github.event_name == 'workflow_dispatch'
    needs:
      - build
    steps:
      - uses: actions/download-artifact@v7
        with:
          merge-multiple: true
      - name: List files
        run: ls -laR .
      - name: Publish
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          draft: false
          files: |
            **/*.tar.gz
            **/*.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  check:
    name: Check
    runs-on: ubuntu-latest

    permissions:
      contents: read
      issues: write

    env:
      RUST_BACKTRACE: '1'
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"
      CC: "sccache gcc"
      CXX: "sccache gcc"
      SQLX_OFFLINE: "1"

    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.9

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy, rustfmt

      - name: Run cargo fmt
        if: always()
        run: cargo fmt --all -- --check

      # Disabled for now, while we build out the project

      - name: Run cargo check
        if: always()
        run: cargo check --all-targets --all-features

      - name: Run cargo check
        if: always()
        run: cargo check --all-targets --all-features

      - if: always()
        run: cargo clippy --all-targets --all-features -- -D warnings