name: Test Github Action

on:
  pull_request:

jobs:
  test-action:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Locksmith Action
        id: locksmith
        uses: ./
        with:
          schema: 'crates/locksmith/tests/test_schema.sql'
          statements: |
            drop table orders;
            alter table customers alter column id type bigint;
      - uses: mshick/add-pr-comment@v2
        with:
          message-path: ${{ steps.locksmith.outputs.result-path }}